body{
    --primary: rgb(249, 227, 193);
    --secondary: rgb(158, 106, 27);
    --font: rgb(174, 129, 51);
    --light: rgb(252, 234, 208);
    --dark: rgb(100 67 15);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 1rem;
    background-color: var(--primary);
}


.container{
    height: 100vh;
    width: 80%;
    margin: 0 auto;
}


.app-header{
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

.logo{
    color: var(--secondary);
    font-size: 2.8em;
    margin-bottom: 0.3em;
}

.header-text{
    color: var(--font);
    font-size: 1em;
}


.root{
    margin: 50px auto;
    height: min-content;
    position: relative;
    width: min-content;

    --canvas-width: 150px;
    --canvas-height: 100px;
}

.root-input::-webkit-inner-spin-button,
.root-input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.root-input{
    -moz-appearance: textfield;
    background-color: var(--light);
    color: var(--dark);
    border: none;
    border-radius: 5px;
    padding: 6px;
    position: absolute;
    width: 0.8em;
    text-align: center;
}

.root-input:focus{
    outline: none;
}

.index{
    font-size: 1em;
    padding: 6px 1px 1px 1px;
    width: 3ch;
    bottom: calc( var(--canvas-height)*0.56 );  /* 50% of height + padding + stroke width */
    left: calc( var(--canvas-width)*0.1 );
}

.radicant{
    font-size: 3.5em;
    bottom: 0;  /* stroke width */
    right: 0;
}